/*NAVIGATION BAR*/
.navbar {
    padding: 1rem;
    margin-bottom: 0%;
    margin-top: 0%;
    background-color: rgba(85, 10, 223, 0.4);
}

.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}

/*ESTILOS GENERALES*/
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-style: 2.5rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}

.seccion-oscura {
    color: rgb(15, 128, 43), 255, 255);
    background-color: #1b1b32;
}

.seccion-clara {
    color: rgba(15, 15, 15, 0.589);
    background-color: rgb(255, 255, 255);
}

.seccion-titulo {
    font-size: 2rem;
    padding: 15px 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.seccion-descripcion {
    font-size: 1.2rem;
    color:rgb(0, 0, 0)
}

.seccion-texto {
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn-info {
    font-size: 1.1rem;
    margin: 20px;
}

.texto-negro {
    color:black
}

.texto-blanco {
    color: white;
}

/*SECCION HERO */

.hero {
    background-color: rgb(255, 255, 255);
    min-height: 450px;
    text-align: center;
}

.hero-principal {
    padding: 3rem;
}

.hero-imagen-bts {
    width: 200px;
    height: 200px;
    margin: 20px;
}

.hero-principal h2 {
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
}

.btsmeaning {
    height: 500px;
    padding: 50px;
    background-color: rgba(11, 110, 52, 0.4)
}

.btsmeaning .container {
    max-width: 600px;
    text-align: center;
}

/*LINES*/

.lines {
    padding: 40px 40px 60px 40px;
}

.lines .columna {
    padding: 20px;
    border: 2px solid rgba(0, 0, 0, 0.515);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.2s ease-in;
}

.lines .columna:hover {
    color: rgb(0, 0, 0);
    background-color: rgba(23, 224, 224, 0.515);
}

.lines i {
font-size: 2.5rem;
color: #000000; 
border-color: #0a0a23;
padding: 8px 19px;
border-radius: 50%;
}

.lines-titulo {
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
}

.badges-container {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}

.badge {
    margin: 5px;
}

/*GALERIA DE INTEGRANTES*/

.integrantes {
    padding: 40px;
}

.integrantes img {
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    display: block;
    
}

.integrantes-container {
    padding-top: 60px;
    margin-bottom: 40px;
}

.overlay {
    transition: all 0.2s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.overlay p {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0;
}

.integrante {
    position: relative;
}

.integrante:hover img {
    opacity: 0.2;
}

.integrante:hover .overlay {
    opacity: 1;
}

.overlay .btsmeaning {
    display: flex;
}

.overlay i {
    color: black;
    font-size: 60px;
    margin: 10px;
}


/*EXITOS*/

.exitos {
    padding: 40px 40px 80px 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.exitos .carousel {
    max-width: 800px;
}

.carousel-item {
    height: 500px;
}

.carousel-item .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.exitos-imagen {
    height: 400px;
    width: 400px;
    margin: 10px 10px 20px 10px;
}

.exitos-texto {
    max-width: 70%;
    font-size: 20px;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.exito-info {
    font-weight: bold;
    text-align: center;
}

.exito-info p {
    margin-bottom: 0;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

/* Adaptable responsivo */

@media screen and (max-width: 400px) {
    .overlay p {
        font-size: 18px;
    }

    .overlay i {
        font-size: 40px;
    }
}

@media screen and (max-width: 767px) {
    .navbar-brand {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .exitos-imagen {
        height: 120px;
        width: 120px;
    }

    .exitos-texto {
        font-size: 18px;
    }
}

@media screen and (min-width: 700px) {
    .hero-inferior-imagen {
        max-width: 600px;
    } 
}